@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 1s linear, fadeinout infinite 1s linear;
  }
  .loaderText {
    animation: fadeinout infinite 1s linear;
    padding-left: 5px;
    font-size: small;
  }
  .logoInicial {
    animation: App-logo-spin infinite 8s linear;
  }
}

.divSpinner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
